<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.classic.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name="com.classic.android.application.MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:name">


        <activity
            android:name="com.classic.android.main.ui.activity.SplashActivity"
            android:theme="@style/splashStyleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.classic.android.main.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|stateAlwaysHidden" />

        <activity android:name="com.classic.android.main.ui.activity.GuideActivity" />

        <activity android:name="com.classic.android.webview.WebViewActivity" />

        <!--登录-->
        <activity
            android:name="com.classic.android.main.ui.activity.LoginActivity"
            android:launchMode="singleTop" />

        <!--设置-->
        <activity android:name="com.classic.android.me.ui.activity.SettingActivity" />

        <activity android:name="com.classic.android.main.ui.activity.RegisterActivity" />
        <activity android:name="com.classic.android.main.ui.activity.PhoneLoginActivity" />
        <activity android:name="com.classic.android.me.ui.activity.SafeSettingActivity" />
        <activity android:name="com.classic.android.me.ui.activity.ReplacePhoneActivity" />
        <activity android:name="com.classic.android.me.ui.activity.SetPayPwdActivity" />
        <activity android:name="com.classic.android.me.ui.activity.UpdateUserInfoActivity" />
        <activity android:name="com.classic.android.me.ui.activity.WalletActivity" />




<!--        <meta-list-->
<!--            android:name="UMENG_CHANNEL"-->
<!--            android:value="${UMENG_CHANNEL_VALUE}" />-->

    </application>


</manifest>